// Fonts
$font-8: .5em;
$font-10: .625em;
$font-12: .750em;
$font-14: .875em;
$font-16: 1em;
$font-18: 1.125em;
$font-20: 1.250em;
$font-22: 1.375em;
$font-24: 1.5em;
$font-26: 1.625em;
$font-28: 1.750em;
$font-30: 1.875em;

// Font weights
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 800;

// FONT TYPES
$mark-pro: MarkPro;

// COLORS
$white: #FFFFFF;
$black: #111315;
$medium-black: #1A1D1F;
$light-black: #272B30;
$transparent-black: #6F767E;
$medium-dark: #EFEFEF;
$light-dark: #F4F4F4;
$transparent: #FCFCFC;
$pale-grey: #f6f7f8;
$dark-blue-grey: #1f2a4b;
$cool-grey-Two: #a1a4ad;
$blue: #4a77e5;
$medium-blue: #3EBEE6;
$light-blue: #8ADFF9;
$transparent-blue: #E2F7FE;
